nav {
    position: relative;
}

nav a img {
    height: 50px;
    border-radius: 8px;
}

nav h2 {
    color: rgb(3, 3, 73);
}

.navbar-header img {
    display: inline-block;
    margin: 0;
}
.navbar .nav-brand a {
    font-family: 'Typo Round Demo';
    font-size: 2rem;
    color: aqua;
}

.jumbotron {
    background-image: url(../img/bg1\ \(3\).jpg);
    margin-top: 50px;
    background-position: 0px -150px;
    background-attachment: fixed;
    background-size: cover;
    color: #d5d5d5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    height: 400px;
    overflow: hidden;
}

.jumbotron h1, .jumbotron p {
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    opacity: 0.9;
}

.jumbotron img {
    width: 200px;
    border: 5px solid #eaeaea;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

hr {
    width: 250px;
    border: 3px solid coral;
}

section {
    min-height: 600px;
    margin-top: 30px;
}

.pKiri, .pKanan {
    opacity: 0;
    transform: translate(-50px, 0) rotate(10deg);
    transition: 1s;
}

.pKanan {
    transform: translate(50px, 0) rotate(-10deg);
}

.pKiri.pMuncul, .pKanan.pMuncul {
    opacity: 1;
    transform: translate(0,0);
}

.portfolio .container {
    background-color: #E9ECEF;
    padding-top: 20px;
    /* min-height: 800px; */
    padding-bottom: 40px;
    margin-bottom: 60px
}

.portfolio .img-thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.portfolio .img-thumbnail.muncul {
    opacity: 1;
    transform: translate(0,0);
}

footer .container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px; 
    width: 100%;
    background-color: green;
    text-align: center;
    padding-top: 15px;
}

footer .a {
    color: blue;
    font-weight: bolder;
}

footer .row {
    font-family: "verdana";
}

footer .container p {
    color: rgb(196, 194, 194);
}

.contact {
    min-height: 1000px;
}
html {
    position: relative;
}