body,
ul,
i {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/computer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -70px;
}

.doku {
    color: rgb(32, 32, 170);
    margin-left: 10px;
}

.print {
    color: lightblue;
}

.navbar {
    height: 50px;
    background-color: #EFFFFA;
    margin: 0;
}

.navbar .brand {
    float: left;
}

.navbar .brand img {
    width: 50px;
    line-height: 50px;
    float: left;
}

.navbar .brand span {
    line-height: 50px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    line-height: 50px;
    text-align: center;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    font-weight: 100;
    font-family: sans-serif;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(95, 113, 216);
}

ul li:hover {
    background-color: grey;
}

* {
    box-sizing: border-box;
}

.sidebar {
    padding-top: 200px;
    width: 300px;
    color: #8A4FFF;
    float: right;
    font-family: 'comic sans', sans-serif;
}

.sidebar a .button {
    display: block;
}

.sidebar a {
    text-decoration: none;
}

.button {
    width: 200px;
    height: 50px;
    background-color: blueviolet;
    line-height: 50px;
    text-align: center;
    padding: 0px 20px;
    border-radius: 5px;
    color: #EFFFFA;
    font-family: arial;
    font-weight: bold;
}

fieldset {
    width: 400px;
    background-color: rgba(138, 79, 255, 0.9);
    height: 400px;
    border: none;
}

form h3 {
    text-align: center;
}

form .form-group label {
    display: inline-block;
    width: 100px;
    /* background-color: green;      */
}

form .form-group {
    margin: 5px 0px;
}

form input.button {
    border: none;
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin-left: 80px;
}

form {
    color: #EFFFFA;
}

body h1 {
    color: #8A4FFF;
    margin-left: 10px;
}

.galeri {
    width: 900px;
    height: 500px;
    background-color: rgba(138, 79, 255, 0.9);
    margin: 40px auto;
}

.galeri .card {
    width: 200px;
    height: 200px;
    background-color: #E5ECF4;
    float: left;
    margin: 45px;
}

.galeri .card img {
    width: 200px;
}

.galeri .card p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

body .contact {
    width: 800px;
    height: 400px;
    background-color: rgba(138, 79, 255, 0.9);
    margin: auto;
    margin-top: 100px;
}

.contact ul li a img {
    width: 200px;
    padding-top: 100px;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #8A4FFF;
    position: absolute;
    bottom: 0;
}

.footer p {
    line-height: 50px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}