body,
ul {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/computer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -70px;
}

.doku {
    color: rgb(32, 32, 170);
    margin-left: 10px;
}

.print {
    color: lightblue;
}

.navbar {
    height: 50px;
    background-color: #EFFFFA;
    margin: 0;
}

.navbar .brand {
    float: left;
}

.navbar .brand img {
    width: 50px;
    line-height: 50px;
    float: left;
}

.navbar .brand span {
    line-height: 50px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    line-height: 50px;
    text-align: center;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    font-weight: 100;
    font-family: sans-serif;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(95, 113, 216);
}

ul li:hover {
    background-color: grey;
}

* {
    box-sizing: border-box;
}

.sidebar {
    padding-top: 200px;
    width: 300px;
    color: #8A4FFF;
    float: right;
    font-family: 'comic sans', sans-serif;
}

.sidebar a .button {
    display: block;
}

.sidebar a {
    text-decoration: none;
}

.button {
    width: 200px;
    height: 50px;
    background-color: blueviolet;
    line-height: 50px;
    text-align: center;
    padding: 0px 20px;
    border-radius: 5px;
    color: #EFFFFA;
    font-family: arial;
    font-weight: bold;
}

fieldset {
    width: 400px;
}